{% extends 'base.html.twig' %}

{% block page_title %}Registro{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-8">
            <form>
                <label for="inscripcion">Numero de Inscripción: </label><br/>
                <input type="number" class="form-control" name="inscripcion" />
                <br/>
                <label for="cedula">Cédula de Identidad: </label><br/>
                <input type="number" class="form-control" name="cedula" />
                <br/>
                <label for="nombres">Nombres: </label><br/>
                <input type="text" class="form-control" name="nombres" />
                <br/>
                <label for="apellidos">Apellidos: </label><br/>
                <input type="text" class="form-control" name="apellidos" />
                <br/>
                <label for="email">Email: </label><br/>
                <input type="email" class="form-control" name="email" />
                <hr/>
                <div class="text-center">
                    <input type="submit" class="btn btn-info" value="Registrar">
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h4><b>Reglas / Términos y Condiciones</b></h4>
            <ul>
                <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
                <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
                <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
                <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
            </ul>

        </div>
    </div>
{% endblock %}
